.titulo-galeria {
display: flex;
justify-content: center;
padding-top: 3rem;
font-family: var(--font-title);
font-size: 3rem;
}
.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 3rem 0 3rem 0;
    gap: .5rem;
}
.galeria-img {
    flex: 1 1 250px;
    height: 220px;
    border: solid 2px var(--white);
    border-radius: 15px;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.galeria-img:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
}