@import url(./css/general.css);
@import url(./css/hero.css);
@import url(./css/productos.css);
@import url(./css/galeria.css);
@import url(./css/contacto.css);

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    object-position: center;
}
.hero {
    width: 100%;
    min-height: 80vh;
    background-image: linear-gradient(rgba(70, 38, 26, 0.55)), url(/assets/img/banner.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: var(--white);
    text-align: center;
    padding-bottom: 5rem;
}

.hero h1 {
    font-family: var(--font-title);
    font-size: 3rem;
    color: var(--bg);
    font-weight: 700;
}

.hero p {
    font-family: var(--font-text);
    font-size: 1.2rem;
    max-width: 1000px;
    color: var(--bg);
}

.hero a {
    padding: 7px;
    border: 2px solid var(--bg);
    border-radius: 15px;
    background-color: var(--accent);
    color: var(--dark);
    font-family: var(--font-text);
    font-size: 1rem;
    font-weight: 500;
}

.hero a:hover {
    background-color: var(--accent-hover);
}

.main-section {
    margin: 0 auto;
}
